/*Especificidad: 001*/
fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/*Especificidad: 011*/
input[type=radio] {
    margin: 3em 1em;
    padding: 1em;
}