/*Especificidad: 001*/
body {
    font-family: "Arial", serif;
    font-size: large;

    background-color: #d5ccba;
    color: #20111b;

    display: flex;
    flex-direction: column;

    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

    width: 60em;
}

/*Especificidad: 002*/
section {
    text-align: left;
    width: 50em;
    float: left;

    display: flex;
    flex-direction: column;
}

/*Especificidad: 001*/
img {
    width: 16em;
    height: auto;
}

/*Especificidad: 001*/
h1 {
    text-align: center;
    font-size: 3em;
    background-color: #d5ccba;
    color: #212121;
    padding-bottom: 1em;
}

/*Especificidad: 001*/
h2 {
    margin-top: 3em;
}

/*Especificidades: 001*/
h3,
h4 {
    margin-bottom: 0em;
}

/*Especificidad: 001*/
nav {
    align-self: center;
}

/*Especificidad: 002*/
nav a {
    padding: 0.7em;
    text-decoration: none;
    background-color: #d5ccba;
    color: #0f5974;
}

/*Especificidad: 012*/
nav a:last-child {
    font-weight: bold;
    text-decoration: underline;
    background-color: #d5ccba;
    color: #640d0d;
}

/*Especificidad: 002*/
section label {
    float: left;
}

/*Especificidad: 001*/
form {
    display: flex;
    flex-direction: column;
    width: 20em;
    align-self: center;
}

/*Especificidad: 002*/
form label {
    padding-top: 0.5em;
}

/*Especificidad: 011*/
input[type=button] {
    width: 10em;
    align-self: center;
    margin-bottom: 0.5em;
}

/*Especificidad: 011*/
input[type=submit] {
    width: 6em;
    align-self: center;
    margin-top: 1em;
}

/*Especificidad: 011*/
input[type=file] {
    align-self: center;
}