/*Especificidad: 001*/
table {
    border: 1px solid #3b4252;
    border-collapse: collapse;
    text-align: center;

    margin: 3em;
}

/*Especificidad: 001*/
th {
    border: 1px solid #3b4252;
    padding: 0.6em;
}

/*Especificidad: 001*/
td {
    border: 1px solid #3b4252;
    padding: 1em;
}

caption {
    font-weight: bold;
}